@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui"{
   themes: light --default;
}

*{
  font-family: "Roboto", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #c72829;
  --color-secondary: #a21d20;
  --color-base-200: #fbfcfd;
  --color-base-300: #e7e7e7;
  --color-accent: #2c7d3d;
}

